footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    margin-top: 3rem;
    display: flex;
    font-family: sans-serif;
    justify-content: space-between;
    background-color: #636060;
    color: white;

}
.footer-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.footer-container .sec{
    margin-right: 30px;
}
.footer-container .sec.aboutus{
    width: 40%;
}
.footer-container h2{
    position: relative;
    color: #fff;
    margin-bottom: 15px;
}
.footer-container h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: rgb(77, 228, 255);
}
.sci{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 20px;
}
.sci li{
    list-style: none;
}

.sci li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
    transition: .5s;
}

.sci li a:hover{
    background: rgb(77, 228, 255);
}

.sci i a .bx{
    color: #fff;
    font-size: 20px;
}
.address{
    font: italic;
}
